VITE_GOOGLE_CLIENT_ID=replace.apps.googleusercontent.com
VITE_ZERODEV_PROJECT_ID=replace
VITE_SEPOLIA_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/alch_5OJye4DK3Nyur-3ivzvOC
VITE_REDIRECT_URL=https://your-domain.com
